{% extends 'base_story7.html' %}
{% load static %}

{% block meta %}
<title>Accordion</title>
{% endblock meta %}

{% block content %}
<h1>Accordion</h1> <br><br>

<div>
    <div class="accordion">Aktivitas saat ini
        <div class="tombolnaikturun">
            <button class="btn btn-primary naik">↑</button>
            <button class="btn btn-danger turun">↓</button>
        </div>
    </div>
    <div class="panel">
        <div class="space18"></div>
        <p>Saat ini saya sedang berkuliah di jurusan sistem informasi, Fasilkom UI</p>
    </div>
</div>
<div>
    <div class="accordion">Pengalaman organisasi/kepanitiaan
        <div class="tombolnaikturun">
            <button class="btn btn-primary naik">↑</button>
            <button class="btn btn-danger turun">↓</button>
        </div>
    </div>
    <div class="panel">
        <div class="space18"></div>
        <ul>
            <li>RISTEK Fasilkom UI
                <ul>
                    <li>Member of Mobile Development (Mar 2021 - Present)</li>
                    <li>Member of Competitive Programming SIG (Feb 2020 - Jan 2021)</li>
                </ul>
            </li>
            <li>Minang Culture Festival IMAMI UI
                <ul>
                    <li>Head of Public Relation, Publication, and Media Partner (Feb 2021 - Present)</li>
                    <li>Staff of Design Team (Feb 2020 - Apr 2020)</li>
                </ul>
            </li>
            <li>Cerita Kita UI
                <ul>
                    <li>Head of Design Team (Aug 2020 - Dec 2020)</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div>
    <div class="accordion">Pendidikan
        <div class="tombolnaikturun">
            <button class="btn btn-primary naik">↑</button>
            <button class="btn btn-danger turun">↓</button>
        </div>
    </div>
    <div class="panel">
        <div class="space18"></div>
        <ul>
            <li>Universitas Indonesia - Jurusan Sistem Informasi (2019 - Present)</li>
            <li>SMA Negeri 1 Padang Panjang (2016 - 2019)</li>
            <li>MTs Negeri 1 Kota Bukittinggi (2013 - 2016)</li>
            <li>SD Islam Al-Ishlah Bukittinggi (2007 - 2013)</li>
            <li>TK Islam Excellent Bukittinggi (2005 - 2007)</li>
        </ul>
    </div>
</div>
<div>
    <div class="accordion">Prestasi
        <div class="tombolnaikturun">
            <button class="btn btn-primary naik">↑</button>
            <button class="btn btn-danger turun">↓</button>
        </div>
    </div>
    <div class="panel">
        <div class="space18"></div>
        <ul><li>Finalis OSN Informatika - Padang 2018</li></ul>
    </div>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/myScript.js' %}"></script>
{% endblock content %}