{% extends 'base_story6.html' %}
{% load static %}

{% block meta %}
    <title>CatatKegiatan</title>
{% endblock meta %}

{% block content %}
    <h1>CatatKegiatan</h1> <br><br>
        <div class="container">
            <div class="row">
                {% for id, kegiatan in dict_kegiatan %}
                    <div class="card" style="width: 18rem; margin: 1rem;">
                        <h3 class="card-title" style="margin: 1rem; color: blueviolet;"> {{ kegiatan.nama }} </h3>
                        <ul class="list-group list-group-flush">
                            {% for peserta in kegiatan.peserta %}
                                <li class="list-group-item"> {{ peserta.nama}} </li>
                            {% endfor %}
                        </ul>
                        <a href="/catatkegiatan/tambahpeserta/{{ id }}" class="btn btn-primary" style="margin: 1rem;">Tambah Peserta</a>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock content %}