{% extends 'base_story6.html' %}
{% load static %}

{% block meta %}
    <title>Tambah Kegiatan</title>
{% endblock meta %}

{% block content %}
    <h1>Tambah Kegiatan</h1>
    <form action="/catatkegiatan/tambahkegiatan" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Tambah">
    </form>
{% endblock content %}