{% extends 'base_story6.html' %}
{% load static %}

{% block meta %}
    <title>Tambah Peserta</title>
{% endblock meta %}

{% block content %}
    <h1>Tambah Peserta {{ namakegiatan }}</h1>
    <form action="/catatkegiatan/tambahpeserta/{{ id }}" method="POST">
        {% csrf_token %}
        <tr>
            <th><label for="id_nama">Nama:</label></th>
            <td><input type="text" name="nama" maxlength="20" required id="id_nama"></td>
        </tr>
        <tr>
            <th><label for="id_kegiatan" hidden>Kegiatan:</label></th>
            <td><select name="kegiatan" required id="id_kegiatan" hidden>
                    <option value="{{ id }}" selected></option>
                </select></td>
        </tr>
        <input type="submit" value="Tambah">
    </form>
{% endblock content %}