{% extends 'base_story5.html' %}
{% load static %}

{% block meta %}
    <title>Detail matkul {{ nama }}</title>
{% endblock meta %}

{% block content %}
    <h1>{{nama}}</h1> <br>
    Pengajar : {{ dosen_pengajar }} <br>
    Jumlah sks : {{ jumlah_sks}} <br>
    Deskripsi : {{ deskripsi}} <br>
    Semester / tahun ajaran : {{ semester_tahun}} <br>
    Ruang kelas : {{ ruang_kelas }} <br>

{% endblock content %}