{% extends 'base_story5.html' %}
{% load static %}

{% block meta %}
    <title>Hapus Matkul</title>
{% endblock meta %}

{% block content %}
    <h1>Hapus Matkul</h1>
    <br>
    {% if matkuls %}
        {% for matkul in matkuls %}
            <h3>{{ matkul.nama }}</h3>
            <a href="/catatmatkul/hapus/{{ matkul.id }}" class="btn btn-danger">Hapus</a>
            <br> <br>
        {% endfor %}
    {% endif %}
{% endblock content %}