{% extends 'base_story5.html' %}
{% load static %}

{% block meta %}
    <title>CatatMatkul</title>
{% endblock meta %}

{% block content %}
    <h1>CatatMatkul</h1>
    <a href="/catatmatkul/lihat" class="btn btn-primary">Lihat daftar matkul</a> <br>
    <a href="/catatmatkul/tambah" class="btn btn-info">Tambah matkul</a><br>
    <a href="/catatmatkul/hapus" class="btn btn-danger">Hapus matkul</a><br>
{% endblock content %}