{% extends 'base_story5.html' %}
{% load static %}

{% block meta %}
    <title>Hapus matkul {{ nama }}</title>
{% endblock meta %}

{% block content %}
    <h1>Hapus matkul {{ nama }}?</h1> <br>
    <p>Apakah anda yakin akan menghapus matkul ini? Tindakan ini tidak dapat diurungkan</p>
    <a href="/catatmatkul/hapus" class="btn btn-primary">Batal</a>
    <form action="/catatmatkul/hapus/{{ id }}" method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" name="Hapus">
    </form>


{% endblock content %}