{% extends 'base_story5.html' %}
{% load static %}

{% block meta %}
    <title>Lihat Matkul</title>
{% endblock meta %}

{% block content %}
    <h1>List Matkul</h1>
    <br>
    {% if matkuls %}
        {% for matkul in matkuls %}
            <h3>{{ matkul.nama }}</h3>
            <a href="/catatmatkul/lihat/{{ matkul.id }}" class="btn btn-info">detail</a>
            <br/> <br>
        {% endfor %}
    {% endif %}
{% endblock content %}