{% extends 'base_story5.html' %}
{% load static %}

{% block meta %}
    <title>Tambah Matkul</title>
{% endblock meta %}

{% block content %}
    <h1>Tambah Matkul</h1>
    <form action="/catatmatkul/tambah" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Tambah">
    </form>
{% endblock content %}