{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body style="padding-left: 10vw; padding-right: 10vw; padding-top: 30pt;">
  <ul class="topnav" style="position: absolute">
        <li id="navhome"><a href="/accordion">Accordion</a></li>
    </ul>
    <div style="height: 55pt;"></div>
  {% block content %}
  {% endblock content %}
  <div class="kontak">
        <h2>Temukan aku di</h2>
        <div>
            <a href="https://fb.com/hafizh.salam"><img src="{% static 'img/social/facebook.svg' %}" alt="" id="ikonsosmed"></a>
            <a href="https://instagram.com/pislm"><img src="{% static 'img/social/instagram.svg' %}" alt="" id="ikonsosmed"></a>
            <a href="https://twitter.com/hfslm"><img src="{% static 'img/social/twitter.svg' %}" alt="" id="ikonsosmed"></a>
            <a href="https://linkedin.com/in/hafizhsalam"><img src="{% static 'img/social/linkedin.svg' %}" alt="" id="ikonsosmed"></a>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>