{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>It's me! Hafizh Salam</title>
{% endblock meta %}

{% block content %}
  <div class="pages"  id="akuapiss">
        <div class="titledesc">
            <h1>Hai, aku Hafizh!</h1>
            <p>Perkenalkan aku Hafizh Salam, bisa panggil saja Hafizh. Saat ini aku sedang menjalani perkuliahan
                semester 4
                di
                jurusan Sistem Informasi di Universitas Indonesia</p>
        </div>
        <img src="{% static 'img/apis.png'%}" alt="Foto Saya" style="height: 25vw;">
    </div>

    <div class="pages">
        <img src="{% static 'img/logongodingweb.png' %}" style="height: 25vh;">
        <h1 style="margin-left: 10vw;">Saat ini aku sedang menjalani mata kuliah PPW</h1>
    </div>

    <div class="pages">
        <h1>Data diriku</h1>
        <div class="datadiri">
            <table>
                <tbody>
                    <tr>
                        <td>Nama</td>
                        <td>Hafizh Salam</td>
                    </tr>
                    <tr>
                        <td>TTL</td>
                        <td>Bukittinggi, 5 Agustus 2001</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>Kamang Hilir, Kabupaten Agam, Sumatera Barat</td>
                    </tr>
                    <tr>
                        <td>Jurusan</td>
                        <td>Sistem Informasi</td>
                    </tr>
                    <tr>
                        <td>Hobi</td>
                        <td>Tidur</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
