{% extends 'base.html'%}
{% load static %}

{% block meta %}
    <title>My Portofolio</title>
{% endblock meta %}

{% block content %}
    <div class="titlebar">
        <h1>My Portofolio</h1>
    </div>

    <div class="porto-box">
        <div class="porto-clmn">
            <img src="{% static 'img/porto/image 2.jpg'%}">
            <img src="{% static 'img/porto/image 4.png'%}">
            <img src="{% static 'img/porto/image 7.png'%}">
        </div>
        <div style="width: 10pt;"></div>
        <div class="porto-clmn">
            <img src="{% static 'img/porto/image 3.png'%}">
            <img src="{% static 'img/porto/image 5.png'%}">
            <img src="{% static 'img/porto/image 6.png'%}">
        </div>
    </div>
{% endblock content %}