{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 1</title>
</head>

<body>

</body>
<img src="{% static 'img/story1/story1.jpg' %}"
    alt="Foto Saya" width="400" style="border-radius: 50%;">
<h1>Tentang Saya</h1>
<p>Hai! Saya adalah seorang mahasiswa Fasilkom UI dan sekarang sedang menjalani semester 4</p>
<table>
    <tr>
        <td>Nama</td>
        <td>Hafizh Salam</td>
    </tr>
    <tr>
        <td>Angkatan</td>
        <td>2019</td>
    </tr>
    <tr>
        <td>Jurusan</td>
        <td>Sistem Informasi</td>
    </tr>
    <tr>
        <td>Hobi</td>
        <td>Tidur</td>
    </tr>
</table>
<br><br>
<h3>Media Sosial</h3>
<table>
    <tr>
        <td>
            <a href="https://fb.me/hafizh.salam">
                <img src="{% static 'img/story1/fb.svg' %}"
                    alt="Facebook" width="30">
            </a>
        </td>
        <td>
            <a href="https://instagram.com/pislm">
                <img src="{% static 'img/story1/ig.png' %}" alt="Instagram" width="30">
            </a>
        </td>
        <td>
            <a href="https://twitter.com/hfslm">
                <img src="{% static 'img/story1/twt.png' %}" alt="Twitter"
                    width="30">
            </a>
        </td>
        <td>
            <a href="https://www.linkedin.com/in/hafizhsalam/">
                <img src="{% static 'img/story1/lin.png' %}" alt="LinkedIn"
                    width="30">
            </a>
        </td>
        <td>

        </td>
    </tr>
</table>

</html>