{% extends 'base_story9.html' %}
{% load static %}

{% block meta %}
    <title>Ups</title>
{% endblock meta %}

{% block content %}
    <h1> Ups! </h1> <br>
    <p> Sepertinya username atau password kamu salah, atau kamu belum terdaftar? </p>
    <a href="/menyapa/masuk" class="btn btn-primary">Masuk</a>
    <a href="/menyapa/daftar" class="btn btn-success">Daftar</a>
{% endblock content %}