{% extends 'base_story9.html' %}
{% load static %}

{% block meta %}
    <title>Menyapa</title>
{% endblock meta %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Halo {{ user.username }}!</h1> <br>
        <a href="/menyapa/keluar" class="btn btn-danger">Log out</a>
    {% else %}
        <h1>Halo orang asing!</h1> <br>
        <p>Sepertinya kamu belum masuk, silakan coba beberapa pilihan berikut</p>
        <a href="/menyapa/masuk" class="btn btn-primary">Masuk</a>
        <a href="/menyapa/daftar" class="btn btn-success">Daftar</a>
    {% endif %}
{% endblock content %}