{% extends 'base_story9.html' %}
{% load static %}

{% block meta %}
    <title>Menyapa</title>
{% endblock meta %}

{% block content %}
    <h1>Login</h1>
    <form action="/menyapa/masuk" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username"> <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password"> <br>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
{% endblock content %}